@import '_mixins.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
$blanco:#ffffff;
$amarillo:#f5c401;
$negro:#000000;
@mixin container {
  margin: 0 auto;
  width: 90%;
  @include saltoMediano{
    width: 95%;
  }
}
*{
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
}
.bodyInicio{
  margin:0 auto;
  max-width: 1366px;
  background: #fafafa;
  font-family: 'Roboto', sans-serif;

  header{
    z-index: 1000;
    max-width: 1366px;
    position: fixed;
    width: 100%;
    top: 0px;
    .linea{
      width: 100%;
      height: 5px;
      background-color: $amarillo;
    }
    .nav{
      background-color: rgba($negro, 0.7);

      .container{
        position: relative;
        @include container();
        @include flex(row,wrap,center, space-between);
        min-height: 50px;
        @include saltoMediano{
          @include flex(row,wrap,flex-start, center);
        }
        .logo{
          width: 100px;
          height: 40px;
          @include imagen('',contain);

        }
        .hamburger{
          display: none;
          @include saltoMediano{
            display: block;
            position: absolute;
            left:0px;
            top: 8px;
            width: 30px;
            height: 30px;
            cursor: pointer;
            div{
              position: absolute;
              height: 2px;
              width: 25px;
              left: 0px;
              right:0px;
              margin-left: auto;
              margin-right:auto;
              background-color: $blanco;
              transition: all .45s ease-in-out;
            }
            .panarriba{
              top: 5px;
            }
            .carne{
              top: 14px;
            }
            .panabajo{
              bottom: 5px;
            }
          }

        }
        nav{
          @include flex(row,wrap,flex-start, space-between);
          @include saltoMediano{
            @include flex(column,nowrap,flex-start, flex-start);
            transition: all .50s ease-in-out;
            width: 100%;
            height: 0px;
            opacity: 0;
            li{
              display: none;
              width: 100%;
            }
          }
          li{
            list-style: none;
            padding: 7px 10px;
            &:hover{
              background: $amarillo;
              a{
                color:$negro;
              }
            }
            a{
              color: $blanco;
              text-decoration: none;
              font-size: 14px;
              font-weight: 400;

            }
          }
        }
      }
    }
    &.activo{
      @include saltoMediano{
        .container{
          nav{
            height: 500px;
            opacity: 1;
            width: 100%;
            li{
              display: block;
              &:hover{
                a{
                  color:$negro;
                }
              }

            }
          }
          .hamburger{
            .panarriba{
              transform:rotate(45deg);
              top: 14px;
            }
            .carne{
              opacity: 0;
            }
            .panabajo{
              transform:rotate(-45deg);
              top: 14px;
            }
          }
        }
      }
    }
  }
  .portada{
    position: relative;
    z-index: 1;
    height: 500px;
    li{
      position: absolute;
      height: 500px;
      width: 100%;
      transition: all .50s ease-in-out;
      opacity: 0;
      @include  imagen('',cover);
      &.activo{
        opacity: 1;
      }
    }

  }
  .linea{
    width: 100%;
    height: 5px;
    background-color: $amarillo;
  }
  .tarjetas{
    .container{
      @include container()
      margin-bottom: 50px;
      @include  flex(row,wrap,center,space-around);
      padding: 20px 0;
      .tarjeta{
        position: relative;
        width: 300px;
        height: 200px;
        overflow: hidden;
        position: relative;
        float: left;
        display: inline-block;
        margin: 10px 0px;
        cursor: pointer;

        a{
          position: absolute;
          bottom:0px;
          background:$negro;
          color:$blanco;
          padding: 5px;
          font-size: 16px;
          font-weight: 700;
          text-transform:capitalize;
          width: 100%;
          border-bottom: 5px solid $amarillo;
          @include ellipsis;
        }
        span{
          background: red;
          position: absolute;
          top: 0px;
          right: 0px;
          padding: 5px;
          font-size: 12px;
          color: $blanco;
          font-weight: 700;
        }
        .imagen{
          @include imagen('',cover);
          @include  flex(row,wrap,flex-end,flex-start);
          height: 100%;
          width: 100%;
          transition: all .5s;
          &:hover{
            transform: scale(1.2);
          }
        }
      }
    }
  }
  .titulo{
    .container{
      @include container;
      p{
        margin-top: 10px;
        color: $negro;
        font-size: 40px;
        font-weight: 700;
        &.centrado{
          text-align: center;
        }
        &.derecha{
          text-align: right;
        }
        &.izquierda{
          text-align: left;
        }
      }
    }
  }
  footer{
    width: 100%;
    position: fixed;
    bottom: 0px;
    background-color:$negro;
    p{
      font-size: 12px;
      font-weight: 300;
      text-align: center;
      color: $blanco;
    }
  }
}
