$primario:#11b57c;
//Mixins Media Queries
@mixin compu{
  @media only screen and (max-width: 1024px) {
    @content;
  }
}
@mixin tablet{
  @media only screen and (max-width: 768px) {
    @content;
  }
}
@mixin cel{
  @media only screen and (max-width: 480px) {
    @content;
  }
}
@mixin responsivo($medida){
  @media only screen and (max-width: $medida) {
    @content;
  }
}
*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;

}
%sombra{
  box-shadow: 1px 1px 10px rgba(0,0,0,0.2);
}
body{
  max-width: 1366px;
  margin: 0 auto;
  background-color: #e7e7e7;
  a{
    text-decoration: none;
  }
}

.welcome{
  background-color: $primario;
  padding: 50px 0px;
  .container{
    width: 75%;
    margin: auto;
    .header{
      width: 100%;;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .name{
        a{
          color:#fff;
          text-align: left;
          padding-bottom: 5px;
          display: block;
        }
        a:first-child{
          font-size: 30px;
          font-weight: 600;
        }
        a:last-child{
          font-size: 20px;
        }
      }
      .social{
        display: flex;
        flex-direction: row;
        justify-content: center;
        a{
          width: 30px;
          height: 30px;
          border-radius: 50%;
          color: #fff;
          display: block;
          position: relative;
          border: solid 2px #fff;
          margin: 5px;
          i{
            margin: auto;
            position: absolute;
            top: 0;
            left: 0px;
            right: 0;
            bottom: 0px;


          }
        }
      }
    }
    .box-info{
      height: 150px;//fondo
      .box-content{
        @extend %sombra;
        width: 100%;
        background-color: #fff;
        margin: auto;
        position: relative;
        transform: translateY(30px);
        display: flex;
        flex-direction: row;
        justify-content: center;

        .content-img{
          margin: 20px;
          .img{
            margin: 0 auto;
            height: 250px;
            width: 250px;
            background-size: contain;
            background-repeat: no-repeat;
          }
        }
        .content-description{
          flex-grow: 1;
          margin: 20px 0px;
          .iam{
            padding-bottom: 7px;
            .title{
              font-size: 25px;
              text-transform: uppercase;
              font-weight: 600;
              padding: 5px;
              span{
                color: $primario;
              }
            }
            .description{

              font-size: 20px;
              padding-bottom: 5px;
            }

          }
          .info{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            .item{
              width: 50%;
              padding-bottom: 20px;
              .title{
                font-weight: 600;
                padding-bottom: 3px;
              }
              .description{
                word-break: break-word;
                a{
                  color:$primario;
                }
              }
            }
          }
        }
      }


    }

  }
  @include compu(){
    .container{
      width: 80%;
      .header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        .name{
          a{
            text-align: center;
          }
        }
        .social{
          margin-top: 5px;
        }
      }
      .box-info{
        height: auto;
        .box-content{
          display: flex;
          flex-direction: column;
          justify-content: center;
          .content-description{
            margin: 20px 20px;
            text-align: center;
          }
        }
      }
    }
  }
  @include cel(){
    .container{
      width: 90%;
    }
  }
}

.education{
  padding: 20px 0px;
  margin: 130px 0px;
  .container{
    width: 75%;
    margin: auto;
    .titulo{
      padding: 30px 0px;
      font-size: 25px;
      font-weight: 900;
      width: 100%;
      color:$primario;
      text-align: center;
      text-transform:uppercase;
    }
    .info{
      position:  relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      &:after{
        content: '';
        position: absolute;
        width:2px;
        height: 100%;
        background-color: $primario;
        left: 0;
        right: 0;
        margin:  auto;
        top:0;
        bottom: 0;
      }
      .item{
        width: calc(50% - 35px);
        background-color: #fff;
        position: relative;
        border-top: 3px solid #11b57c;
        @extend %sombra;

        .item-container{
          box-sizing: border-box;
          width: 100%;
          position: relative;
          background-color: white;
          display: flex;
          flex-direction: column;
          padding: 15px 10px;
          .header{
            font-size: 18px;
            font-weight: 900;
            color:$primario;
            width: 100%;
            text-align: center;
          }
          .date{
            padding: 5px 0px;
            text-align: center;
            font-size: 12px;
            color: grey;
          }
          .content{
            padding: 5px 10px;
            a{
              color:$primario;
            }
            ul{
              padding-left: 30px;
              padding-top: 5px;
            }
          }
        }
        &:after {
          content: '';
          position: absolute;
          width: 10px;
          height: 10px;
          background-color: $primario;
          border-radius:50%;
          top:20px;
        }
        &:before{
          content: '';
          position: absolute;
          width: 20px;
          height: 20px;
          top: 15px;
          background-color: #fff;
          @extend %sombra;
        }

        &:nth-child(odd){ //none
          &:after{
            right: -40px;
          }
          &:before{
            transform: rotate(45deg);
            right: -10px;
          }

        }
        &:nth-child(even){//par
          margin-top: 50px;
          &:after{
            left: -40px;
          }
          &:before{
            transform: rotate(45deg);
            left: -10px
          }

        }


      }
    }

  }
  @include compu(){
    margin:  10px 0px;
    .container{
      width: 80%;
      .info{
        display: flex;
        justify-content: column;
        align-items: flex-end;
        justify-content: flex-end;
        .item{
          width: 90%;
          margin-top: 50px;
          &:first-child{
            margin-top: 0px!important;
          }
          &:before{
            transform: rotate(45deg)!important;
            left: -10px!important;
            right: inherit;
          }
          &:after{
            left: -12% !important;
            right: inherit;
          }
        }
        &:after{
          left: 0px;
          margin: 0px;
        }
      }
    }
  }
  @include cel(){
    .container{
      width: 90%;
    }
  }
}
